<a href="https://colab.research.google.com/github/MJaiman/ML/blob/main/linearregression_Multiple_variable_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!git clone https://github.com/MJaiman/ML

Cloning into 'ML'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 18 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [5]:
df=pd.read_csv('/content/ML/Archive/homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [7]:
import math
medians_bedroom= math.floor(df.bedrooms.median())
medians_bedroom

4

In [10]:
df.bedrooms=df.bedrooms.fillna(medians_bedroom)
df.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [13]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
rc=reg.coef_
rc

array([  112.06244194, 23388.88007794, -3231.71790863])

In [19]:
ri=reg.intercept_
ri

221323.00186540396

In [16]:
reg.predict([[3000 , 3 , 40]])

array([498408.25158031])

In [24]:
ans=112.06244194*3000 + 23388.88007794*3 + (-3231.71790863)*40+221323.00186540396
ans

498408.251574024